<!-- products -->
<section class="products" id="products">
    <div class="heading">
        <h1>Our Pruducts <br><span>Products</span></h1>
    </div>
    <div class="products-container" id="products-container">

    </div>
</section>
