<!-- products -->
<section class="products" id="products">
    <div class="heading">
        <h1>Our Pruducts <br><span>Products</span></h1>
        <a href="#" class="btn">Pergi sekarang<i class='bx bx-right-arrow-alt'></i></a>
    </div>
    <div class="products-container">
        <!-- box produts -->
        <div class="box filter-aksesoris">
            <img src="./images/categori/fashion.png" alt="">
            <span>Makanan</span>
            <h2>Apam Barabai</h2>
            <h3 class="price">kisaran : Rp 12.000+ <span>/Pks</span></h3>
            <h6><i class='bx bx-buildings'></i>Barabai, Hulu Sungai Tengah</h6>
            <a href="https://maps.app.goo.gl/TF1mdkSz2HVMcn1y7" target="_blank"
                title="Lihat lokasi Toko di Google Maps">
                <i class='bx bx-map'></i>
            </a>
            <i class='bx bx-heart' onclick="toggleHeart(this);"></i>
        </div>
        <div class="box filter-aksesoris">
            <img src="./images/categori/fashion.png" alt="">
            <span>Makanan</span>
            <h2>Apam Barabai</h2>
            <h3 class="price">kisaran : Rp 12.000+ <span>/Pks</span></h3>
            <h6><i class='bx bx-buildings'></i>Barabai, Hulu Sungai Tengah</h6>
            <a href="https://maps.app.goo.gl/TF1mdkSz2HVMcn1y7" target="_blank"
                title="Lihat lokasi Toko di Google Maps">
                <i class='bx bx-map'></i>
            </a>
            <i class='bx bx-heart' onclick="toggleHeart(this);"></i>
        </div>
        <div class="box filter-aksesoris">
            <img src="./images/categori/fashion.png" alt="">
            <span>Makanan</span>
            <h2>Apam Barabai</h2>
            <h3 class="price">kisaran : Rp 12.000+ <span>/Pks</span></h3>
            <h6><i class='bx bx-buildings'></i>Barabai, Hulu Sungai Tengah</h6>
            <a href="https://maps.app.goo.gl/TF1mdkSz2HVMcn1y7" target="_blank"
                title="Lihat lokasi Toko di Google Maps">
                <i class='bx bx-map'></i>
            </a>
            <i class='bx bx-heart' onclick="toggleHeart(this);"></i>
        </div>
        <div class="box filter-aksesoris">
            <img src="./images/categori/fashion.png" alt="">
            <span>Makanan</span>
            <h2>Apam Barabai</h2>
            <h3 class="price">kisaran : Rp 12.000+ <span>/Pks</span></h3>
            <h6><i class='bx bx-buildings'></i>Barabai, Hulu Sungai Tengah</h6>
            <a href="https://maps.app.goo.gl/TF1mdkSz2HVMcn1y7" target="_blank"
                title="Lihat lokasi Toko di Google Maps">
                <i class='bx bx-map'></i>
            </a>
            <i class='bx bx-heart' onclick="toggleHeart(this);"></i>
        </div>
        <div class="box filter-aksesoris">
            <img src="./images/categori/fashion.png" alt="">
            <span>Makanan</span>
            <h2>Apam Barabai</h2>
            <h3 class="price">kisaran : Rp 12.000+ <span>/Pks</span></h3>
            <h6><i class='bx bx-buildings'></i>Barabai, Hulu Sungai Tengah</h6>
            <a href="https://maps.app.goo.gl/TF1mdkSz2HVMcn1y7" target="_blank"
                title="Lihat lokasi Toko di Google Maps">
                <i class='bx bx-map'></i>
            </a>
            <i class='bx bx-heart' onclick="toggleHeart(this);"></i>
        </div>
        <div class="box filter-aksesoris">
            <img src="./images/categori/fashion.png" alt="">
            <span>Makanan</span>
            <h2>Apam Barabai</h2>
            <h3 class="price">kisaran : Rp 12.000+ <span>/Pks</span></h3>
            <h6><i class='bx bx-buildings'></i>Barabai, Hulu Sungai Tengah</h6>
            <a href="https://maps.app.goo.gl/TF1mdkSz2HVMcn1y7" target="_blank"
                title="Lihat lokasi Toko di Google Maps">
                <i class='bx bx-map'></i>
            </a>
            <i class='bx bx-heart' onclick="toggleHeart(this);"></i>
        </div>
    </div>
</section>