<!-- Categories -->
<section class="categories" id="categories">
    <div class="heading">
        <h1>Khas Kalimantan Selatan <br><span>Categories</span></h1>
        <a href="javascript:void(0);" class="btn" id="showProductsBtn">Lihat Semua<i
                class='bx bx-right-arrow-alt'></i></a>
    </div>
    <!-- conten -->
    <div class="categories-container">
        <!-- box1 -->
        <div class="box box1" onclick="filterProducts('Aksesoris')">
            <img src="/images/categori/acsesoris.png" alt="">
            <h2>Aksesoris</h2>
            <span id="category-aksesoris-count">items ...</span>
            <i class='bx bx-right-arrow-alt'></i>
        </div>
        <!-- box2 -->
        <div class="box box2" onclick="filterProducts('Makanan')">
            <img src="/images/categori/food.png" alt="" />
            <h2>Makanan</h2>
            <span id="category-makanan-count">items ...</span>
            <i class='bx bx-right-arrow-alt'></i>
        </div>
        <!-- box3 -->
        <div class="box box3" onclick="filterProducts('Minuman')">
            <img src="/images/categori/drink.png" alt="" />
            <h2>Minuman</h2>
            <span id="category-minuman-count">items ...</span>
            <i class='bx bx-right-arrow-alt'></i>
        </div>
        <!-- box4 -->
        <div class="box box4" onclick="filterProducts('Fashion')">
            <img src="images/categori/fashion.png" alt="" />
            <h2>Fashion</h2>
            <span id="category-fashion-count">items ...</span>
            <i class='bx bx-right-arrow-alt'></i>
        </div>
    </div>

</section>

<section class="overlay" id="overlay" style="display:none;">
    <div class="card-container">
        <div class="heading">
            <h1>Semua Produk</h1>
            <a href="#" class="btn" id="closeOverlayBtn">Kembali<i class='bx bx-right-arrow-alt'></i></a>
        </div>
        <!-- Elemen container untuk produk -->
        <div class="products-containers" id="productsContainer">
            <!-- Produk akan ditampilkan di sini -->
        </div>

        <!-- Tambahkan container untuk produk favorit -->
        <div class="favorites-container" id="favoritesContainer">
            <!-- Produk favorit akan ditampilkan di sini -->
        </div>
    </div>

    <div class="pagination">
        <button class="prev-btn">Prev</button>
        <div class="page-numbers"></div>
        <button class="next-btn">Next</button>
    </div>
</section>