<div id="loginPrompt" class="popup">
    <div class="popup-content">
        <button id="closePopup" class="close-btn">&times;</button>
        <h3>Apakah Anda sudah punya akun?</h3>
        <a href="/login" class="btnLogin">Login</a>
    </div>
</div>
