<!-- Home -->
<section class="home swiper" id="home">
    <div class="swiper-wrapper">
        <!-- Slide 1 -->
        <div class="swiper-slide container">
            <div class="home-text">
                <span>Fashion terkini</span>
                <h1>KAIN <br> SASRIANGAN <br> BANUA</h1>
                <a href="#" class="btn" id="someActionButton">Pergi sekarang<i class='bx bx-right-arrow-alt'></i></a>
            </div>
            <img src="/images/slide/sss1.jpg" alt="">
        </div>
        <!-- Slide 2 -->
        <div class="swiper-slide container">
            <div class="home-text">
                <span>accesories</span>
                <h1>GANTUNGAN <br> KUNCI <br> BAKANTAN</h1>
                <a href="#" class="btn">Pergi sekarang<i class='bx bx-right-arrow-alt'></i></a>
            </div>
            <img src="/images/slide/okeh.png" alt="">
        </div>
        <!-- Slide 3 -->
        <div class="swiper-slide container">
            <div class="home-text">
                <span>food</span>
                <h1>MIE <br> BANCIR </h1>
                <a href="#" class="btn">Pergi sekarang<i class='bx bx-right-arrow-alt'></i></a>
            </div>
            <img src="/images/slide/slide1.png" alt="">
        </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
</section>