<!-- Overlay untuk menampilkan produk -->
<section class="overlay" id="overlay">
    <button id="closeOverlayBtn"
        style="position: absolute; top: 10px; right: 10px; background: none; border: none; color: #fff; font-size: 1.5rem;">X</button>

    <div class="products-containers">
    </div>
</section>