<!-- Navabar -->
<header>
    <a href="#" class="logo"><i class='bx bxs-basket'></i>Ingfoleh</a>
    <div class="bx bx-menu" id="menu-icon"></div>

    <!-- menu icon -->
    <!-- Nav List -->
    <ul class="navbar">
        <li><a href="#home" class="home-active">Home</a></li>
        <li><a href="#categories">Categories</a></li>
        <li><a href="#products">Products</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#costumers">Costumer</a></li>
    </ul>
    <!-- menu login -->
    <div id="guestMenu" class="guest-menu">
        <a href="/login" id="loginBtn">login</a>
    </div>
    <!-- profile -->
    <div class="profile" id="profileMenu">
        <img id="userProfilePic" src="/images/userDefault/user.png" alt="User Profile Picture">
        <i class='bx bx-caret-down' onclick="toggleMenu(this);"></i>
    </div>

    <!-- submenu -->
    <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
            <div class="user-info">
                <img id="userSubMenuProfilePic" src="/images/userDefault/user.png" alt="User Submenu Profile Picture">
                <h3 id="username">Loading...</h3>
                <p></p>
            </div>
            <hr>
            <a href="/profile" class="sub-menu-link">
                <i class='bx bx-user'></i>
                <p>Profile</p>
                <span>></span>
            </a>
            <a href="#" class="sub-menu-link" id="reportMenu">
                <i class='bx bxs-report'></i>
                <p>Laporan</p>
                <span>></span>
            </a>

            <!-- sub point menu1 -->
            <div class="submenu-container" id="reportSubMenu">
                <a href="/lapproduk" class="sub-point-link">
                    <p>Laporan Produk</p>
                </a>
                <a href="/laporandatauser" class="sub-point-link">
                    <p>Laporan Pengguna</p>
                </a>
                <a href="/laaphoranadminfavorite" class="sub-point-link">
                    <p>Laporan Produk Favorit</p>
                </a>
                <a href="/laporantoko" class="sub-point-link">
                    <p>Laporan Toko Penjual</p>
                </a>
                <a href="/laporanFeedback" class="sub-point-link">
                    <p>Laporan Feedback</p>
                </a>
            </div>
            <!-- sub point end menu -->
            <a href="#" class="sub-menu-link" id="productsMenu">
                <i class='bx bx-category'></i>
                <p>Core Admin</p>
                <span>></span>
            </a>
            <!-- sub point menu2 -->
            <div class="submenu-container" id="productsSubMenu">
                <a href="/adminproduct" class="sub-point-link products-sub-point-link">
                    <p>Produk</p>
                </a>
                <a href="/admintoko" class="sub-point-link products-sub-point-link">
                    <p>Toko</p>
                </a>
                <a href="/adminfavorite" class="sub-point-link products-sub-point-link">
                    <p>Produk Favorit</p>
                </a>
                <a href="datauser" class="sub-point-link products-sub-point-link">
                    <p>datauser</p>
                </a>
                <a href="/adminFeedback" class="sub-point-link products-sub-point-link">
                    <p>Feedback</p>
                </a>
            </div>
            <!-- sub point end menu -->

            <a href="#" class="sub-menu-link" id="logoutBtn">
                <i class='bx bx-log-out'></i>
                <p>Log Out</p>
                <span>></span>
            </a>
        </div>
    </div>
</header>
