<!-- About -->
<section class="about" id="about">
    <img src="/images/categori/about us.png" alt="">
    <div class="about-text">
        <span>About Us</span>
        <p>Ingpoleh adalah platform web yang hadir untuk membantu wisatawan menemukan rekomendasi
            oleh-oleh khas
            Kalimantan Selatan
            dengan mudah dan cepat. Kami memahami bahwa banyak pengunjung sering kali bingung saat
            mencari buah
            tangan yang tepat
            yang mencerminkan budaya lokal.</p>
        <p>Melalui aplikasi ini, kami menyajikan berbagai pilihan oleh-oleh seperti makanan,
            minuman, fashion khas,
            hingga aksesori
            unik dari berbagai daerah di Kalimantan Selatan. Tidak hanya memberikan rekomendasi,
            Ingpoleh juga
            menyediakan fitur
            arah lokasi yang terhubung langsung ke Google Maps, sehingga pengguna bisa langsung
            menuju toko
            oleh-oleh terdekat tanpa
            ribet</p>
        <p>Kami berkomitmen mendukung pariwisata lokal dan pelaku UMKM Kalimantan Selatan dengan
            menghadirkan
            pengalaman pencarian oleh-oleh yang
            praktis, informatif, dan menyenangkan.
        </p>   
    </div>
</section>