                    <!-- footer -->
                    <section class="footer" id="foooter">
                        <div class="footer-box">
                            <a href="#" class="logo"><i class='bx bxs-basket'></i>Ingfoleh</a>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>Inventore 2025</p>
                            <div class="social">
                                <a href=""><i class='bx bxl-instagram'></i></a>
                                <a href=""><i class='bx bxl-instagram'></i></a>
                                <a href=""><i class='bx bxl-instagram'></i></a>
                            </div>
                        </div>
                        <div class="footer-box">
                            <h2>Categories</h2>
                            <a href="#">Khas kalimantan</a>
                            <a href="#">khas Daerah</a>
                            <a href="#">Khas Kampung</a>
                        </div>
                        <div class="footer-box">
                            <h2>Produk Terpofuler</h2>
                            <a href="#">Apam barabai</a>
                            <a href="#">Dodol Kandangan</a>
                            <a href="#">Mie habang</a>
                        </div>
                        <div class="footer-box">
                            <h2>Request & Feedback</h2>
                            <p>Ada oleh-oleh yang ingin kamu tambahkan atau tanggapan anda tentang Ingofoleh? Sampaikan
                                idemu di sini!
                            </p>
                            <form action="">
                                <i class='bx bx-envelope'></i>
                                <input type="email" name="" id="" placeholder="Masukan Email Anda">
                                <i class='bx bx-arrow-back bx-rotate-180'></i>
                            </form>

                        </div>
                    </section>