    <!-- Copyright -->
    <div class="copyright">
        <p>&#169; 6C TI Banjarmasin 2025 Ingfolehh. Semua Hak Dilindungi Undang-Undang. | Syarat & Ketentuan | Kebijakan
            Privasi | Peta Situs</p>
    </div>